	<section id="about" class="container content-section text-center">

	      <div class="row">
	         <h2>Comissioned Work</h2>
	         <p>Sushi restaurant landing page with custom floating javascript menu<br>
	         <div class="col-md-12"><a class="btn btn-default" href="https://soju-sushi.herokuapp.com/" role="button">Main Sushi &raquo;</a></div>
	      </div><br><br>

	   <div class="row">
	      <h2>Sample Sites</h2>
	      <p>All my sample portfolio sites are powered by Ruby on Rails, Bootstrap, Postgresql, Heroku <br>
	      <div class="col-md-4"><a class="btn btn-default" href="https://three-themes.herokuapp.com/creatives/index" role="button">Creative Theme &raquo;</a></div>
	      <div class="col-md-4"><a class="btn btn-default" href="https://three-themes.herokuapp.com/freelancers/index" role="button">Freelancer Theme &raquo;</a></div>
	      <div class="col-md-4"><a class="btn btn-default" href="https://three-themes.herokuapp.com/stylish_portfolios/index" role="button">Stylish Portfolio Theme &raquo;</a></div>
	   </div><br><br>
	</section>