	<section id="about" class="container content-section text-center">

	      <div class="row">
	         <h2>Comissioned Work</h2>
	         <p>Sushi restaurant landing page with custom floating javascript menu<br>
	         <div class="col-md-12"><a class="btn btn-default" href="https://soju-sushi.herokuapp.com/" role="button">Main Sushi &raquo;</a></div>
	      </div><br><br>



	      	   <div class="row">
	      <h2>CRUD applications</h2>
	      <p><%= link_to "Rails Tutorial sample app, ", "https://www.railstutorial.org/book" %>
	      	 <%= link_to "Rails Guide simple blog, ", "http://guides.rubyonrails.org/getting_started.html" %> Authentication with Devise gem<br>
	      <div class="col-md-4"><a class="btn btn-default" href="https://soju-sample-app.herokuapp.com" role="button">Sample App &raquo;</a></div>
	      <div class="col-md-4"><a class="btn btn-default" href="https://soju-simple-blog.herokuapp.com/" role="button">Simple blog &raquo;</a></div>
	      <div class="col-md-4"><a class="btn btn-default" href="https://soju-devise-blog.herokuapp.com/" role="button">Devise auth &raquo;</a></div>
	   </div><br><br>


	   <div class="row">
	      <h2>Sample Sites</h2>
	      <p>sample sites are powered by Ruby on Rails, Bootstrap, Postgresql, Heroku <br>
	      <div class="col-md-4"><a class="btn btn-default" href="https://three-themes.herokuapp.com/creatives/index" role="button">Creative Theme &raquo;</a></div>
	      <div class="col-md-4"><a class="btn btn-default" href="https://three-themes.herokuapp.com/freelancers/index" role="button">Freelancer Theme &raquo;</a></div>
	      <div class="col-md-4"><a class="btn btn-default" href="https://three-themes.herokuapp.com/stylish_portfolios/index" role="button">Stylish Portfolio Theme &raquo;</a></div>
	   </div><br><br>

			<div class="row">
	         <p>Heroku's free hosting sleeps after 30 mins of inactivity.  May take up to 30 seconds for sites to respond. </p>
	        </div>
	</section>