<section id="download" class="content-section text-center">
   <div class="download-section">
      <div class="container">
            <div class="col-md-12">
               <h2>Soju MB Script Maker</h2>
               <p>Multibox Script maker for Anarchy Online.  Created for use with hotkeynet multiboxing software.<br>Coded in PHP</p>
               <p><a class="btn btn-default btn-lg" href="https://soju-mbtest.herokuapp.com/mbtest.php" role="button"><i class="fa fa-file-text-o"></i> View details &raquo;</a></p>
            </div>
            <br><br>
            <div class="col-md-12">
               <h2>Soju Sketch</h2>
               <p>play with squares :D<br>Coded in javascript</p>
               <p><a class="btn btn-default btn-lg" href="https://soju-mbtest.herokuapp.com/sketch.html" role="button"><i class="fa fa-heart-o"></i></i> View details &raquo;</a></p>
            </div>
            <br><br>
      </div>
   </div>
</section>